<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    이 화면은 로그인 화면입니다.
    <table border="1">
        <tr>
            <th>아이디</th>
            <td><input type="text" id="id" placeholder="아이디"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" id="password" placeholder="비밀번호"></td>
        </tr>
        <tr>
            <th colspan="2">
                <button onclick="location.href='/views/user/join'">회원가입</button>
                <button>로그인</button>
            </th>
        </tr>
    </table>
</body>
</html>